<div class="mx-auto">
  <div>
    <%= link_to "Show this task", @task, class: "bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600" %>
    <%= link_to "Back to tasks", tasks_path, class: "bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600" %>
  </div>

  <br>

  <%= render "form", task: @task %>
</div>
